<h4 class="heading p-0 my-0">Reactive registration form</h4>
<form class="py-2 px-4" [formGroup]="myForm" >
  <div class="form-group">
    <label for="old-pass">Old password</label>
    <input type="text" class="form-control" type="text" name="old-pass" formControlName="oldPassword">
    <div class="alert alert-danger" *ngIf="oldPassword.invalid && oldPassword.touched ">
      <div *ngIf="oldPassword.errors.required">Old passwored is required</div>
      <div *ngIf="oldPassword.errors.isNotOldPass">{{oldPassword.errors.isNotOldPass}}</div>
    </div>
  </div>
  <div class="form-group">
    <label for="new-pass">New password</label>
    <input type="text" class="form-control" type="text" name="new-pass"  formControlName="newPassword">
    <div class="alert alert-danger" *ngIf="newPassword.invalid && newPassword.touched ">
      <div>New passwored is required</div>
      <div></div>
    </div>
  </div>
  <div class="form-group">
    <label for="old-pass">New password again</label>
    <input type="text" class="form-control" type="text" name="new-pass-again"  formControlName="newPasswordAgain">
    <div class="alert alert-danger" *ngIf="newPasswordAgain.invalid && newPasswordAgain.touched ">
      <div>New passwored is required for control</div>
      <div></div>
    </div>
  </div>
  <button class="btn btn-primary px-5 mt-1" (click)="resetPassword()">Cahnge password</button>
</form>