<h4 class="heading p-0 my-0">Reactive registration form</h4>
<form class="py-2 px-4" [formGroup]="myForm">
  <div class="form-group">
    <label for="old-pass">Old password (123) with async validation</label>
    <input
      required
      type="text"
      class="form-control"
      type="text"
      name="old-pass"
      formControlName="oldPassword"
    />
    <div *ngIf="oldPassword.pending" class="alert alert-info">
      <div class="spinner-border spinner-border-sm text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <span class="m-2">Validating...</span>
    </div>
    <div
      class="alert alert-danger"
      *ngIf="oldPassword.invalid && ( oldPassword.dirty || oldPassword.touched) "
    >
      <div *ngIf="oldPassword.errors.required">Old password is required</div>
      <div
        *ngIf="oldPassword.errors.asyncIsNotOldPass && oldPassword.value.length != 0"
      >
        Old password is not correct
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="new-pass">New password</label>
    <input
      required
      type="text"
      class="form-control"
      type="text"
      name="new-pass"
      formControlName="newPassword"
    />
    <div
      class="alert alert-danger"
      *ngIf="newPassword.invalid && newPassword.touched "
    >
      <div>New password is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="old-pass">New password again</label>
    <input
      required
      type="text"
      class="form-control"
      type="text"
      name="new-pass-again"
      formControlName="newPasswordAgain"
    />
    <div
      class="alert alert-danger"
      *ngIf="newPasswordAgain.invalid && newPasswordAgain.touched "
    >
      <div>New password is required for control</div>
    </div>
    <div
      *ngIf="myForm.invalid && newPasswordAgain.valid && myForm.errors.passwordsAreEqual"
      class="alert alert-danger"
    >
      {{myForm.errors.passwordsAreEqual}}
    </div>
  </div>
  <div *ngIf="!myForm.pristine">
    <p class="m-0 p-0 fw-light">JSON Object from form.value:</p>
    <code>{{myForm.value | json }}</code>
  </div>
  <button
    class="btn btn-primary px-5 mt-1"
    [disabled]="myForm.invalid || myForm.pending"
    (click)="resetPassword()"
  >
    Change password
  </button>
</form>
